


.body {
    height: 125vh;
    background-image: url(assets/Backgroundpic04.jpg);
    background-size: cover;
    font-family: sans-serif;
    margin-top: 80px;
    padding: 30px;
}

.main {
    color: white;
}

.nav-center {
    background-color: rgb(9, 9, 9);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
}

.nav-header {
    height: 10px;
    width: 20px;
}

.header * {
    display: inline;
}

.nav-links {
    align-items: center;
}

.nav-link {
    margin: 20px;
}



.subscribe-btn {
    background-color: red;
    color: white;
    height: 33px;
    width: 101px;
    border-radius: 4px;
    cursor: pointer;
}

.subscribe-btn:hover {
    background-color: green;
}

.subscribe-btn:active {
    background-color: greenyellow;
}

.join-btn {
    background-color: white;
    height: 33px;
    width: 49px;
    border-radius: 3px;
    border-color: rgb(9, 9, 9);
    border-style: double;
    border-width: 1px;
    cursor: pointer;
}

.tweet-btn {
    color: white;
    border: none;
    width: 49px;
    height: 35px;
    border-radius: 17px;
    background-color: rgb(9, 9, 9);
    font-weight: bold;
    font-size: 10px;
    cursor: pointer;
}

.request-now {
    background-color: rgb(9, 9, 9);
    border: 3px;
    width: 99px;
    height: 33px;
    border-style: double;
    color: white;
    border-spacing: 40px;
}